{:cookie "<login to ebay's web site and retrieve the Cookie header>"
 :token "<generate a token using eBay's developer pages>"
 :stok "<get this from the hidden parameters on e.g. https://offer.ebay.de/ws/eBayISAPI.dll?BidderBlockLogin>"
 :srt "<get this from the hidden parameters on e.g. https://offer.ebay.de/ws/eBayISAPI.dll?BidderBlockLogin>"
 :userid "<your ebay user id>"}
